body {
  background: linear-gradient(to top left, gray, lightgray);
  margin-right:
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: 60px;
  font-weight: bold;
}

.heading p {
  font-size: 20px;
  font-family: sans-serif;
}

li {
  list-style-type: none;
  border: 1px solid black;
  height: 40px;
  line-height: 38px;
  padding-left: 5px;
  font-size: 14px;
}

ul {
  margin: 0px;
  padding: 0px;
}

.project_headers {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  height: 38px;
}

.project_title, .project_desc, .project_lang, .project_link {
  padding: 0px;
}

.project_title {
  text-align: center;
}

.project_desc {

}

.project_lang {
  text-align: center;
}

.project_link {

}

.project_link li {
  font-size: 12px;
  text-decoration: underline;
}

.project_link .project_headers {
  font-size: 24px;
}

.about_me {
  border: 1px black solid;
  padding: 10px;
}

.profile {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: black solid 1px;
  border-radius: 15px;
}

.why_coding {
  border: 1px black solid;
  padding: 10px;
}
