body {
  background: linear-gradient(to top left, gray, lightgray);
  margin-bottom: 100px;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: 60px;
  font-weight: bold;
}

.heading p {
  font-size: 20px;
  font-family: sans-serif;
}

.chart li {
  list-style-type: none;
  border: 1px solid black;
  height: 40px;
  line-height: 38px;
  padding-left: 5px;
  font-size: 14px;
  background-color: #d3f9ff;
}

h4 {
  font-weight: bold;
}
.goals li {
  background-color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

h3 {
  padding: 7px;
}

.project_headers {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  height: 38px;
  background-color: #07d4ef;
}

.project_title, .project_desc, .project_lang, .project_link {
  padding: 0px;
}

.project_title {
  text-align: center;
}

.project_desc {

}

.project_lang {
  text-align: center;
}

.project_link {

}

.project_link li {
  font-size: 12px;
  text-decoration: underline;
}

.project_link .project_headers {
  font-size: 24px;
}

.about_me {
  border: 1px black solid;
  padding: 10px;
}

.profile {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: black solid 1px;
  border-radius: 15px;
}

.why_coding {
  border: 1px black solid;
  padding: 10px;
}

.thumbnail.sponge, .thumbnail.feeder {
  height: 200px;
  width: 200px;
  margin-left: 10px;
}

.thumbnail {
  border: black 1px solid ;
}

.thumbnail.diploma {
  height: 200px;
  width: 200px;
  margin-right: 0px;
}

.thumbnail.garden, .thumbnail.wtrhtr {
  height: 200px;
  width: 200px;
  margin-right: 0px;
}

.thumbnail.ice, .thumbnail.falls {
  height: 200px;
  width: 200px;
  margin-right: 0px;
}

.caption p {
  font-size: 12px;
}

.epicodus, .safeway_mech, .college, .hobby, .travel, .about_me, .why_coding {
  border: black solid 1px;
  border-radius: 15px

}

.safeway_col {
  margin: 0px;
  padding: 5px;
}

.safeway_mech {
  background: linear-gradient(to top left, #41dcf4, #2d9eef);
}

.hobby {
  background: linear-gradient(to top left, #00f98d, #01ad62);
}

.college {
  background: linear-gradient(to top left, #ed8d61, #e83a3a);
}

.epicodus {
  background: linear-gradient(to top left, #efe164, #efb521);
}

.travel {
  background: linear-gradient(to top left, #f442e8, #8b20ef);
}

.about_me {
  background: linear-gradient(to top left, #00f98d, #01ad62);
}

.why_coding {
  background: linear-gradient(to top left, #f442e8, #8b20ef);
}

.background .row h3 {
  font-weight: bold;
}
