body {
  background: linear-gradient(to top left, gray, lightgray);
}

.heading {
  text-align: center;
}

.heading h1 {
  font-size: 60px;
  font-weight: bold;
}

.heading p {
  font-size: 20px;
  font-family: sans-serif;
}
